# Supabase Configuration
NUXT_PUBLIC_SUPABASE_URL=https://xcuutkczmwhmslrhtnha.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdXV0a2N6bXdobXNscmh0bmhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4NTk5NDIsImV4cCI6MjA3MDQzNTk0Mn0._4q1kCKCHtMeqhiBFfJB5RxV0tJuC2XT_0a5bMlB93o

# Optional: Supabase Service Role Key (for server-side operations)
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
